<div>
  <h1>Liaison unidirectionnelle</h1>
  <h3>Liaison de données par interpolation</h3>
  <p>{{title}}</p>

  <h3>Liaison de données par propriété (Property Binding)</h3>
  <input type="text" [value]="valeurInput" disabled style="width: 250px">

  <h3>Liaison de données par événements</h3>
  <button (click)="onClick()">Afficher une information sur la console</button>

  <h1>Liaison bidirectionnelle</h1>
  <div>
    <input [(ngModel)]="zoneSaisie" style="width: 250px">
  </div>
  <div>
    Affichage de la propriété zoneSaisie par interpolation :
  </div>
  <div>
    {{zoneSaisie}}
  </div>
  <div>
    <h1>Part 2</h1>
    <app-pied-de-page [nomApplication]="title"></app-pied-de-page>
  </div>
  <div>
    <h1>Les directives</h1>
  </div>
  <div *ngIf="informations && informations.length > 0" [ngClass]="classesAAppliquer">
    <ul>
      <li *ngFor="let info of informations">{{info}}</li>
    </ul>
  </div>
  <div *ngIf="!informations || informations.length == 0">
    Il n'y a pas d'informations à présenter
  </div>
  <div>
    <h1>Pipes</h1>
    <p>Date de création du composant : {{dateCreationComposant | date: 'dd MMMM YYYY' | uppercase}}</p>
  </div>
  <div>
    <h1>Services</h1>
    <ul>
      <li *ngFor="let n of nombres" [ngClass]="getClasses(n)">{{n}}</li>
    </ul>
  </div>
</div>